
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  color:#1f1c1c;
  font-size:1em;
  -webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
  -moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
}

#map {
  height: 100%;
  width: 100%;
}

.header {
  height: 70px;
  width: 100%;
  position: absolute;
  z-index: 5;
  display: flex;
  padding: 20px 20px 0;
  box-sizing: border-box;
  pointer-events: none;
}

.header h1 {
  margin: 0;
}

.header span {
  color: #FF5722;
}

.search {
  margin-left: auto;
}

#search{
  pointer-events: auto;
  width: 300px;
  font-size: 21px;
  border: none;
  border-radius: 5px;
  background: #FAFAFA;
  padding: 15px;
  font-family: "Nunito";
  text-overflow: ellipsis;
  padding-left: 60px;
}

#search:focus{
  outline: none;
  background: #fff;
  transition: all ease-in-out .5s;
}

button{
  display:inline-block;
  vertical-align:middle;
  border-radius:30px;
  font-size: 1rem;
  color:#666666;
  background:   #ffffff;
  border:1px solid #666666;
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  margin-left: 10px;
}

button:hover{
  border:1px solid #666666;
  background:#666666;
  color:#ffffff;
  cursor: hand;
}

.search-icon {
  top: 0.9em;
  left: 1em;
}

.search-icon {
  position: relative;
  top: 1.8em;
  pointer-events: none;
  left: 0.6em;
  z-index: 1000;
  font-size: 1.75em;
}